.container #filterbutton {
  margin: 10%;

}
.btn-primary{
  background-color:black;
  border: #5a5a5a
}

.container #heading{
	margin-top: 5.5%;
	margin-bottom:  2%;
}


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color:black;
}